<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Jessica Park</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <main>
        <h1>Jessica Park</h1>
        <img src="/images/me.jpg" />
        <ul>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </main>
</body>
</html>